* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%
}

@font-face {
    font-family: Pacifico;
    src: url(./Font/Pacifico-Regular.ttf);
}

body {
    font-family: Pacifico;
    font-size: 1, 3rem;
    background-color: lightgoldenrodyellow;


}

img {
    border-radius: 20;
    padding: 0.5rem
}

.wrapper {
    display: flex;
    
}
.all-imgs{
    display: flex;
    flex-direction: column;
  }



.all-imgs img {
    height: 17rem;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;

}

.current-place {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;

}
.current-img {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .image-title{
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(37, 37, 37, 0.7);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-align:center;
    
  }
  .image-desc{
    position:absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
    font-size: 1.6rem;
    background-color: aqua;
  
    background: rgba(37, 37, 37, 0.8);
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    
  }
  .animate-imgs {
    opacity: 0.5;
    transform: translate(-20px,0);
    animation: animate-imgs 0.5s ease-in-out forwards;
  }
  @keyframes animate-imgs {
    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }

  @media screen and (max-width: 800px) {
    .all-imgs img{
        width: 10rem;   
    }
    .image-desc, .image-title{
    
        font-size: 0.6rem;
    }
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    

 
    
  }